@page
@model WebApplication1.Pages.AdatokfeltoltesefajlbolModel
@{
}
<form method="post" enctype="multipart/form-data">
    <label>Add meg a fajlt</label>
    <input type="file" asp-for="Feltoltes"/>
    <input type="submit" value="Feltöltés" />
</form>